@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 25px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.flex-col-centered {
    @apply flex flex-col items-center justify-center;
}

.flex-col-left {
    @apply flex flex-col items-start justify-center;
}

.flex-col-right {
    @apply flex flex-col items-end justify-center;
}

.flex-row-centered {
    @apply flex flex-row items-center justify-center;
}

.flex-row-end {
    @apply flex flex-row items-center justify-end;
}

.flex-row-start {
    @apply flex flex-row items-center justify-start;
}

.hide-scrollbar  {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar  {
  display: none;
}