@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* Wider track */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 10px;
    border: 9px solid transparent; /* Make the thumb thinner with a larger transparent border */
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

.flex-col-centered {
    @apply flex flex-col items-center justify-center;
}

.flex-col-left {
    @apply flex flex-col items-start justify-center;
}

.flex-col-right {
    @apply flex flex-col items-end justify-center;
}

.flex-row-centered {
    @apply flex flex-row items-center justify-center;
}

.flex-row-end {
    @apply flex flex-row items-center justify-end;
}

.flex-row-start {
    @apply flex flex-row items-center justify-start;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
